### CVEN Exam 1

### Question 2

In [6]:
### import libraries
import os
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
#set working directory and read data
path = 'D:\CVEN 5301 Python'
os.chdir(path)

In [9]:
#Read population file
p = pd.read_csv('US_population.csv')
p

    Year        Pop
0   2010  309327143
1   2011  311583481
2   2012  313877662
3   2013  316059947
4   2014  318386329
5   2015  320738994
6   2016  323071755
7   2017  325122128
8   2018  326838199
9   2019  328329953
10  2020  329484123

In [12]:
x = p.Year
x
y = p.pop
y

<bound method DataFrame.pop of     Year        Pop
0   2010  309327143
1   2011  311583481
2   2012  313877662
3   2013  316059947
4   2014  318386329
5   2015  320738994
6   2016  323071755
7   2017  325122128
8   2018  326838199
9   2019  328329953
10  2020  329484123>

### Plot table

In [14]:
plt.plot(Year,pop)


plt.xlabel("Year") 
plt.ylabel("Population") 
plt.legend()

plt.show()

NameError: name 'Year' is not defined

### Question 3

#### To determine total deflection of a cantilever beam subject to uniform load q
L=Length; E = elastic modulus; I= moment of inertia; q = uniform loading; F = point loads; a = length at Point Load A; b = load at point load B

In [1]:
# assign variable values
L = 25000
F = 250
a = 10000
b = 15000 #(b = L-a)
E = 200000
q = 250
I = 81960000

In [ ]:
def maxdefl(F,a,b,E,I,q):
    maxdefl = ((F*a**3)/8*E*I)(1+(3*a)/2*b)
    return round(maxdefl,4) # return the values rounded to 4 decimal places
defs = maxdefl(F,a,b,E,I,q)
defs